@import "tailwindcss";
*{
  font-family:initial;
}
:root {
  --darkblue: #37353E;
  --iceblue:#D3DAD9;
  --navyblue:#17313E;
  --lightcream:#FFF2EF;
  --lightgray:#EBECF1;
  --lightpurple:#B33791;
  --lightpink:#700334;
  --middlepink:#150208;
  --darkpink:#96034a;
}
